.gallery img.response-img {
    margin: 10px;
    width: 100%;
}

.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 998;
}

body {
    font-size : 18px;
}

.header {
    height : 150px;
    margin-top : 125px;
    margin-bottom : 50px;
    text-align : center;
    /*font-family: 'Righteous', cursive;*/
    font-size : 80px;
}

.new-section-header {
    margin-top : 90px;
    margin-bottom : 70px;
    text-align: center;
}

.unique {
    width : 100%;
    padding-top : 50px;
    padding-bottom : 50px;
    margin-top : 100px;
    margin-bottom : 100px;
    text-align: center;
}
.unique>.content {

}

.parallax-container {
    margin-top : 70px;
    margin-bottom : 70px;
    height: 350px;
}

#chart .bar {
    display: inline-block;
    text-align: center;
    /*padding: 3px;*/
    vertical-align: bottom;
    margin: 1px;
    width : 40px;
    height: 75px;
    color: white;
    background-color : teal;
}

footer {
    margin-top : 60px;
}