.gallery img.response-img {
    margin: 10px;
    width: 100%;
}
.gallery.row {
    margin-bottom : 50px;
}

.gallery .content {
    margin-top : 10px;
}

.about .content {
    margin-bottom: 20px;
}
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 998;
}

body {
    font-size : 18px;
}

.header {
    height : 150px;
    margin-top : 125px;
    margin-bottom : 50px;
    text-align : center;
    font-size : 80px;
}

.righteous {
    font-family: 'Righteous', cursive;
}

.small-header {
    height : 75px;
    margin-top: 50px;
    padding-top : 150px;
    padding-bottom : 150px;
    text-align : center;
    font-size : 40px;
    color : white;
    background-image : url("https://i.ytimg.com/vi/vR2Gc13L8vs/maxresdefault.jpg");
    background-size : cover;
}

.new-section-header {
    margin-top : 50px;
    margin-bottom : 30px;
    text-align: center;
}

.unique {
    width : 100%;
    padding-top : 50px;
    padding-bottom : 50px;
    margin-top : 100px;
    margin-bottom : 100px;
    text-align: center;
}

.parallax-container {
    margin-top : 70px;
    margin-bottom : 70px;
    height: 350px;
}

#chart {
    margin-bottom: 10px;
}
#chart .bar {
    display: inline-block;
    text-align: center;
    /*padding: 3px;*/
    vertical-align: bottom;
    margin: 1px;
    width : 40px;
    height: 75px;
    color: white;
    background-color : teal;
}

.animated.pre-animated {
    opacity : 0;
}

footer {
    margin-top : 60px;
}