html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
}

body {
  height: 100%;
  margin: 0;
}

.head-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10%;
}

#pages {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}

.fluid {
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
}

.fluid.loading {
  height: 100%;
}

.bars {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.bar {
  height: 100%;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
}

#nav {
  position: fixed;
  right: 5px;
  top: 40%;
}

#nav .pg {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

.page .video-container {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.page .video-container video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  opacity: .5;
}

.page .face {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page .face .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}

.page .face .container.left {
  margin-left: 10%;
  max-width: 50%;
}

.page .face .container.left img {
  max-height: 50%;
  box-shadow: 5px 10px 5px black;
}

.page .face .container.left .title {
  text-shadow: 3px 6px black;
}

.page .face .container.right {
  max-width: 40%;
  text-shadow: -3px 6px 2px black;
  margin-right: 5%;
}

.page .face .container .button {
  border-radius: 1px;
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 8px;
  font-size: 12px;
  margin: 20% 2%;
  text-decoration: none;
  box-shadow: 5px 10px 5px black;
}

.page .face .container .button.disabled {
  background-color: rgb(184, 184, 184);
  cursor: not-allowed;
}

.more {
  -webkit-transition: transform 2s; /* Safari */
  transition: all 0.4s ease-out;
}

.page .face .container .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 2%;
  border-radius: 50%;
  box-shadow: -5px 5px 2px black;
}

.page .face .container .icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

video.hidden {
  display: none;
}

/*
  PAGE 0
*/

#page-0 {
  background-color: #292929;
}

#me {
  display: grid;
  grid-template-columns: auto auto;
}

#me #my-content {
  margin-left: 15px;
}

#me img#my-img {
  width: 100%;
  max-width: 400px;
  display: inline-block;
  border-radius: 4%;
  vertical-align: text-top;
}

#me #my-title {
  font-size: 32px;
}

#me .my-subtitle {
  font-size: 14px;
  color:rgb(158, 158, 158);
}

#me #see-below {
  margin-top: 100px;
  vertical-align: center;
}

/*
  PAGE 1
*/

#page-1 {
  background-color: #083ed3;
  /* background-color: white; */
}

#page-2 {
  background-color: #08d3b1;
}
#page-3 {
  background-color: #9308d3;
}
#page-4 {
  background-color: #8cd308;
}
#page-5 {
  background-color: #08d35d;
}
#page-6 {
  background-color: #6008d3;
}
#page-7 {
  background-color: #d30808;
}